{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>

  $(function() {
    $('a#sub_plandate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_print_info', {
        phone_id: $('input[name="phone_id"]').val(),
        address: $('input[name="address"]').val(),
        distance: $('input[name="distance"]').val(),
        activity: $('input[name="activity"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return true; //true doesn't allow multiple instances
    });
  });

</script>
   <div class="container" style="max-width:400px; margin-top:15%;">
      <div class="text-center">
        <h1 class="form-signin-heading">PlanDate</h1>
	<img src="{{ url_for('static', filename = '/static/PlanDateLogo.jpg') }}">	
	<input class="form-control" type=text placeholder="Phone Number" name=phone_id><br>
 	<input class="form-control" type=text placeholder="City or Zip Code" name=address><br>
  <input class="form-control" type=text placeholder="Range (meters)" name=distance><br>
  <input class="form-control" type=text placeholder="Activity Level (1-3)" name=activity><br>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Within 2 Miles</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Within 5 Miles</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Within 10 Miles</button>
    </div>
  </div>
  	<span id=result></span>
	<a class="btn btn-lg btn-primary btn-block" href=# id=sub_plandate>Start this date</a>
      </div>

    </div>

{% endblock %}
