{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>

  $(function() {
    $('a#sub_plandate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_print_info', {
        phone_id: $('input[name="phone_id"]').val(),
        address: $('input[name="address"]').val(),
        distance: $('input[name="distance"]').val(),
        activity: $('input[name="activity"]').val()
      }, function(data) {
        $("#result").text("Info on the way to " + data.result + "\nEnjoy!");
      });
      return false; //true doesn't allow multiple instances
    });
  });

</script>

<style>
h4 {
  display:inline;
  
}
</style>
   <div class="container" style="max-width:400px; margin-top:5%;">
      <div class="text-center">
        <h1 class="form-signin-heading">PlanDate</h1>
	<img src="http://i.imgur.com/Jjwnszx.jpg" style="margin:0 auto;" />
	<input class="form-control" type=text placeholder="Phone Number" name=phone_id><br>
 	<input class="form-control" type=text placeholder="City or Zip Code" name=address><br>

	<div id="activity" class="btn btn-group btn-group-justified">
		<h4>Activity Level </h4>
    		<input type="radio" id="ac1" name="activity" value="1">Relax</input>
    		<input type="radio" id="ac2" name="activity" value="2">Fun</input>
    		<input type="radio" id="ac3" name="activity" value="3">Adventure</input>
  	</div>
	<div id="distance" class="btn btn-group btn-group-justified">
		<h4>How far? </h4>
    		<input type="radio" id="di1" name="distance" value="3200">2 miles</input>
    		<input type="radio" id="di2" name="distance" value="8000">5 miles</input>
    		<input type="radio" id="di3" name="distance" value="16000">10 miles</input>
  	</div>
  	<span id=result></span>
	<a class="btn btn-lg btn-primary btn-block" style="background-color:#FF7DE5" id=sub_plandate>Start this date</a>
      </div>

    </div>

{% endblock %}
